body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #1f2937;
    padding: 20px 180px 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #f9faf8;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 480px;
}

#hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 1000;
    margin: 0;
}

.subtext, #placeholder, a, ul, button {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

#placeholder {
    font-size: 18;
    background-color: grey;
    padding: 128px 160px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding-top: 64px;
    padding-bottom: 120px;
}

.title {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.all-cards {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.image {
    height: 180px;
    width: 180px;
    border: 4px #3882f6 solid;
    border-radius: 10px;
    box-sizing: border-box;
}

.text {
    font-size: 18px;
    color: grey;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 120px 480px 120px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    text-align: justify;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 60px 160px;
    margin: 100px 140px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 48px 0 48px; 
}

button {
    margin-top: 8px;
    width: 120px;
    height: 36px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
}

.modal button {
    margin-top: 0;
    border: 2px #f9faf8 solid;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}